<div class="container-fluid">
    <div class="card shadow mb-4">
        <ul ngbNav #nav="ngbNav" [(activeId)]="nac_activo" class="nav-pills">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Categoría</a>
                <ng-template ngbNavContent>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form #frmCategoria="ngForm" class="form-enable">
                                <div class="form-group row">
                                    <label class="col-form-label col-3">
                                        <span>Nombre</span>
                                    </label>
                                    <div class="col-9">
                                        <input #inp_nombre="ngModel" class="form-control" name="inp_nombre" [(ngModel)]="item.nombre" type="text" required="true" maxlength="100">
                                        <div *ngIf="inp_nombre.invalid && (inp_nombre.dirty || inp_nombre.touched)" class="alert-form">
                                            <ul>
                                                <li *ngIf="inp_nombre.errors['required']">El campo es requerido.</li>
                                                <li *ngIf="inp_nombre.errors['maxlength']">El campo debe tener como máximo 20 caracteres.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-3">
                                        <span>Icono</span>
                                    </label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i [ngClass]="item.icono"></i></div>
                                            </div>
                                            <input #inp_icono="ngModel" name="inp_icono" type="text" class="form-control" [(ngModel)]="item.icono" placeholder="Ícono" ohInputFormat="fontawesome">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3">
                                        Estado
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="inp_estado" #inp_estado="ngModel" required="true" [(ngModel)]="item.estado">
                                            <label ngbButtonLabel class="btn-outline-success">
                                                <input ngbButton type="radio" [value]="cse.params.estado.activo"> Activo
                                            </label>
                                            <label ngbButtonLabel class="btn-outline-danger">
                                                <input ngbButton type="radio" [value]="cse.params.estado.inactivo"> Inactivo
                                            </label>
                                        </div>
                                        <div *ngIf="inp_estado.invalid && (inp_estado.dirty || inp_estado.touched)" class="alert alert-danger alert-form">
                                            <ul>
                                                <li *ngIf="inp_estado.errors['required']">El campo es requerido.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-12 col-sm-3">
                                        Productos dependientes
                                    </label>
                                    <div class="col-12 col-sm-9">
                                        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup name="inp_indicador_producto" #inp_indicador_producto="ngModel" required="true" [(ngModel)]="item.indicador_producto">
                                            <label ngbButtonLabel class="btn-outline-primary">
                                                <input ngbButton type="radio" [value]="true"> Si
                                            </label>
                                            <label ngbButtonLabel class="btn-outline-primary">
                                                <input ngbButton type="radio" [value]="false"> No
                                            </label>
                                        </div>
                                        <div *ngIf="inp_estado.invalid && (inp_estado.dirty || inp_estado.touched)" class="alert alert-danger alert-form">
                                            <ul>
                                                <li *ngIf="inp_estado.errors['required']">El campo es requerido.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button (click)="grabar()" [disabled]="frmCategoria.invalid" class="btn btn-success"><i class="far fa-hand-pointer mr-1"></i>Grabar</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" *ngIf="item.categoria_id && item.indicador_producto">
                <a ngbNavLink>Productos</a>
                <ng-template ngbNavContent>
                    <oh-filterTab [save]="'des_product_category_list'" [(filter)]="filter" [template]="filterWindow" [length]="itemsProductos.length" [obj_pagin]="pagin" (list)="descategoriaProductoListar()"></oh-filterTab>
                    <table class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr role="row">
                                <th scope="col" style="width:1rem"><i title="Editar" class="text-muted text-size-10 fas fas fa-edit"></i></th>
                                <th scope="col" style="width:1rem"><i title="Borrar" class="text-muted text-size-10 fas fa-trash-alt"></i></th>
                                <th scope="col" style="width:1rem"><i title="Ver fotos" class="text-muted text-size-10 far fa-images"></i></th>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let item  of itemsProductos">
                                <td>
                                    <a class="text-size-10 text-success" href="#" (click)="$event.preventDefault(); productoEditar(item.categoria_producto_id, modalProducto)"><i class="fas fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a class="text-size-10 text-danger" href="#" (click)="$event.preventDefault(); productoBorrar(item.categoria_producto_id)"><i class="fas fa-trash-alt"></i></a>
                                </td>
                                <td>
                                    <a class="text-size-10 text-primary" href="#" (click)="$event.preventDefault(); productoFotos(item.categoria_producto_id)"><i class="far fa-images"></i></a>
                                </td>
                                <td>{{item.categoria_producto_id}}</td>
                                <td>{{item.nombre}}</td>
                                <td>
                                    <span class="badge badge-pill" [ngClass]="dcs.data.estado_categoria_producto[item.estado].badge"><i [class]="dcs.data.estado_categoria_producto[item.estado].icon"></i> {{dcs.data.estado_categoria_producto[item.estado].descripcion}}</span>
                                </td>
                                <td>{{item.fecha_registro | date: cse.config.formatDateTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="productoNuevo(modalProducto)" class="btn btn-success">Nuevo</button>
                </ng-template>
            </li> 
        </ul>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<ng-template #filterWindow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="h5 m-0"><i class="fa fa-filter mr-1"></i>Filtrar</span>
        <a href="#" class="close text-dark" aria-label="Close" (click)="$event.preventDefault(); d('Cross click')">
            <i class="fas fa-times fa-xs"></i>
            </a>
    </div>
    <div class="modal-body">
        <form>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('cancel')"><i aria-hidden="true" class="fa fa-close mr-1"></i>Cancelar</button>
        <button type="submit" class="btn btn-outline-primary" (click)="c('doFilter')"><i aria-hidden="true" class="fa fa-filter mr-1"></i>Filtrar</button>
    </div>
</ng-template>
<ng-template #modalProducto let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <form #frmProducto="ngForm" class="form-enable">
        <div class="form-group row">
            <label class="col-form-label col-12 col-sm-3">
                <span>Nombre</span>
            </label> 
            <div class="col-12 col-sm-9">           
                <input #inp_nombre="ngModel" class="form-control" name="inp_nombre" [(ngModel)]="itemProducto.nombre" type="text" required="true" maxlength="100">
                <div *ngIf="inp_nombre.invalid && (inp_nombre.dirty || inp_nombre.touched)" class="alert-form">
                    <ul>
                        <li *ngIf="inp_nombre.errors['required']">El campo es requerido.</li>
                        <li *ngIf="inp_nombre.errors['maxlength']">El campo debe tener como máximo 20 caracteres.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-12 col-sm-3">
                <span>Foto(s)</span>
            </label> 
            <div class="col-12 col-sm-9">
                <oh-imageUpload [fotos]="itemProducto.fotos" [ruta]="dcs.config.ruta_firestore" [config]="configFoto" (eventos)="eventosFoto($event)" [thumbnail]="true"></oh-imageUpload>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-12 col-sm-3">
                Estado
            </label>
            <div class="col-12 col-sm-9">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="inp_estado" #inp_estado="ngModel" required="true" [(ngModel)]="itemProducto.estado">
                    <label *ngFor="let estado of dcs.data.catalogo.estado_categoria_producto" ngbButtonLabel class="btn-outline-primary">
                        <input ngbButton type="radio" [value]="estado.catalogo_id"> {{estado.descripcion}}
                    </label>
                </div>
                <div *ngIf="inp_estado.invalid && (inp_estado.dirty || inp_estado.touched)" class="alert alert-danger alert-form">
                    <ul>
                        <li *ngIf="inp_estado.errors['required']">El campo es requerido.</li>
                    </ul>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">      
      <button (click)="productoGrabar(modal)" [disabled]="frmProducto.invalid || foto_cargando" class="btn btn-success">Grabar</button> 
    </div>
</ng-template>